<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta author="MILLOT Nils et ELATRI Sami">
    <title>{{ title }}</title>
    <!-- CSS ici -->
    <link rel="stylesheet" type="text/css" href="css/style_form1.css">
    <link rel="stylesheet" type="text/css" href="css/style_form2.css">
	<link rel="stylesheet" type="text/css" href="css/com.css">
  </head>

  <body>
    <header>
   			<svg class="logo">
   			    <img src="images/Logodusite.png" alt="Logo du site" height="100px" width="100px" />
   			</svg>
			
        <h1>Mon CV en ligne</h1>

        <nav id="menu">
  				<a href="/">Accueil</a>
				<a href="/form">Créer mon cv</a>
  				<a href="/">FAQ</a>
  			</nav>

        <nav id="connexion">
          <div><a href="redirection4">Se connecter</a></div>
    			<div><a href="#inscriptions">S'inscrire</a></div>
        </nav>
		</header>

    {{{ body }}}

    <footer>

    </footer>

    <!-- JS ici -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/controlFormSignIn.js"></script>
    <script type="text/javascript" src="js/controleFormulaireInscription.js"> </script>
    <script type="text/javascript" src="js/EnvoiFormulaire.js"> </script>
 </body>
</html>
