<body>
		<div class="corps">
			<h2 id="titref1">Pas encore membre ? Inscrivez vous !</h2>
			
			<form id="inscription" name="inscription"> 
  				<p>Veuillez remplir le formulaire d'inscription. Les champs marqués par <em>*</em> sont <em>obligatoires</em>.</p>
				
				<fieldset>
    				<legend>Inscription</legend>

					<label for="email">Adresse mail<em>*</em></label>
					<input id="email" type="email" name="mail" placeholder="Votre adresse mail" required>
					<br>
					
					<label for="pseudo">Pseudonyme<em>*</em></label>
					<input id="pseudo" name="pseudo" type="text" placeholder="Votre pseudonyme" required>
				</fieldset>

  				<fieldset>
    				<legend>Sécurisez votre compte avec un mot de passe</legend>

					<label for="motDePasse">Mot de passe<em>*</em></label>
					<input id="motDePasse" name="motDePasse" type="password" minlength="6" maxlength="20" placeholder="Mot de passe" required>
					
					<br>
					
					<label for="confirmerMotDePasse">Comfirmez votre mot de passe<em>*</em></label>
					<input id="confirmerMotDePasse" name="confirmerMotDePasse" type="password" minlength="6" maxlength="20" placeholder="Confirmez votre mot de passe" required>
  				</fieldset>

				<button class="soumission" type="submit">Valider</button>
			    <button class="soumission" type="reset" >Annuler</button>
			</form>
			
			<p style="color : red;" id="erreurEMail"></p>
			<p style="color : red;" id="erreurPseudo"></p>
			<p style="color : red;" id="erreurMDP1"></p>
			<p style="color : red;" id="erreurMDP2"></p>			
			
		</div>
		
			<script src="js/controleFormulaireInscription.js"></script>
</body>
